@{
  Layout = "_Layout";
}

<h1>@Model["vendor"].VendorName's @Model["order"].Title Details: </h1><br>

<ul>
  <li>
    <h4>Description: <span class="light-text">@Model["order"].Description</span></h4>
  </li>
  <li>
    <h4>Cost: <span class="light-text">$@Model["order"].Price</span></h4>
  </li>
  <li>
    <h4>Pickup Date: <span class="light-text">@Model["order"].Date</span></h4>
  </li>
</ul>

<div class="navlinks">
  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>New Order</a></p>
  <p><a href='/vendors'>View Vendors</a></p>
</div>