@{
  Layout = "_Layout";
}

<h4><em>Welcome back, Pierre!</em></h4><br><br>

<div class="navlinks">
  <h3><a href='/vendors'>View Vendors</a></h3>
  <h3><a href='/vendors/new'>Add New Vendors</a></h3>
</div>