@{
  Layout = "_Layout";
}

<h1>New Vendor</h1><br>
<div class="form">
  <form action="/vendors" method="post">
    <input id="vendorName" name="vendorName" type="text" class="form-control" placeholder="Vendor Name" required><br>
    <button type="submit" class="btn btn-secondary">Add</button>
  </form>
</div><br><br>

<div class="navlinks">
  <p><a href="/">Home</a></p>
  <p><a href="/vendors">View Vendors</a></p>
</div>