@{
  Layout = "_Layout";
}

@using PierresOrderTracker.Models;

<h3>Here are the orders from @Model["vendor"].VendorName:</h3>

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a New Order</a></p>
<p><a href='/vendors'>Return to Vendors List</a></p>
<p><a href='/'>Return to Home</a></p>